# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
src/generated/resources/.cache/

# Ignore markdown files in root except README
/*.md
!/[Rr][Ee][Aa][Dd][Mm][Ee].[Mm][Dd]
